body{
margin:0;
font-family:Poppins;
background:#0f172a;
color:white;
}

/* HERO BACKGROUND IMAGE */

.hero-bg{

background-image:url("hero-bg.jpg");

background-size:cover;

background-position:center;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

position:relative;

}

/* HERO CARD ON IMAGE */

.hero-card{

background:rgba(15,23,42,0.75);

backdrop-filter:blur(10px);

padding:40px;

border-radius:20px;

text-align:center;

width:400px;

box-shadow:0 0 40px rgba(0,0,0,0.7);

}

/* PROFILE */

.profile{

width:150px;
height:150px;
border-radius:50%;

border:4px solid red;

box-shadow:0 0 25px red;

}

/* NAME */

.name{

color:#4ade80;

}

/* BUTTONS */

.btn{

padding:12px 25px;

border-radius:10px;

text-decoration:none;

margin:5px;

display:inline-block;

color:white;

transition:0.3s;

}

.btn:hover{

transform:scale(1.1);

}

.green{background:#22c55e;}
.blue{background:#38bdf8;}
.orange{background:#f59e0b;}


/* ABOUT */

.about{

padding:60px;

background:linear-gradient(135deg,#0f172a,#1e293b);

}

/* DUAL */

.dual{

display:flex;

gap:30px;

padding:40px;

}

/* CARDS */

.grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:15px;

}

.card{

padding:15px;

border-radius:10px;

background:#2563eb;

transition:0.3s;

}

.card:hover{

transform:scale(1.1);

}

/* PROJECT COLORS */

.excel{background:#22c55e;}
.sql{background:#ef4444;}
.powerbi{background:#3b82f6;}
.python{background:#a855f7;}
.ml{background:#f59e0b;}


/* PUBLICATIONS */

.publications{

padding:40px;

}

.pub-grid{

display:flex;

gap:20px;

}

.pub{

flex:1;

padding:20px;

border-radius:15px;

text-decoration:none;

color:white;

transition:0.3s;

}

.pub:hover{

transform:scale(1.1);

}

.medium{background:black;}
.newsletter{background:red;}


/* CONTACT */

footer{

text-align:center;

padding:30px;

background:#020617;

}

/* PARTICLES */

#particles-js{

position:fixed;

width:100%;

height:100%;

z-index:-1;

}
