body{
font-family:Poppins;
margin:0;
background:linear-gradient(135deg,#0f172a,#1e3a5f);
color:white;
}

/* MAIN CONTAINER */

.container{

display:flex;
justify-content:space-between;
align-items:center;

padding:60px;

}

/* ABOUT LEFT */

.about-left{

width:50%;

}

.about-left h1{

font-size:48px;

}

.about-left p{

font-size:18px;

line-height:1.6;

}

/* HERO CARD */

.hero-card{

width:380px;

background:linear-gradient(135deg,#0f172a,#1e293b);

padding:30px;

border-radius:30px;

text-align:center;

box-shadow:0 0 40px rgba(0,0,0,0.4);

}

.profile{

width:150px;
height:150px;
border-radius:50%;
border:5px solid red;

}

.name{

color:#4ade80;

}

.role{

font-weight:bold;

}

.hero-buttons{

margin-top:20px;

}

.btn{

padding:10px 20px;

border-radius:10px;

text-decoration:none;

margin:5px;

display:inline-block;

}

.view{background:#22c55e;}
.resume{background:#38bdf8;}
.contact{background:#f59e0b;}


/* SECTION */

.section{

padding:40px;

margin:30px;

background:linear-gradient(135deg,#1e3a5f,#2a4a7f);

border-radius:20px;

}

/* SKILLS */

.skills-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:15px;

}

.skill{

padding:15px;

border-radius:10px;

background:#2563eb;

}


/* PROJECTS */

.projects-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:15px;

}

.project{

padding:15px;

border-radius:10px;

text-decoration:none;

color:white;

}

.excel{background:#22c55e;}
.sql{background:#ef4444;}
.powerbi{background:#3b82f6;}
.python{background:#a855f7;}
.ml{background:#f59e0b;}


/* PUBLICATIONS */

.pub-grid{

display:flex;

gap:20px;

}

.pub{

flex:1;

padding:20px;

border-radius:15px;

text-decoration:none;

color:white;

}

.medium{background:black;}
.newsletter{background:red;}


/* FOOTER */

footer{

text-align:center;

padding:20px;

background:#020617;

}
