body{
margin:0;
font-family:Poppins;
background:#0f172a;
color:white;
}

/* HERO */

.hero{

height:100vh;

background:url("hero-bg.jpg");

background-size:cover;

background-position:center;

display:flex;

justify-content:center;

align-items:center;

position:relative;

}

/* PARTICLES */

#particles-js{

position:absolute;

width:100%;

height:100%;

z-index:1;

}

/* HERO CARD */

.hero-card{

position:relative;

z-index:2;

background:rgba(15,23,42,0.8);

padding:40px;

border-radius:20px;

text-align:center;

width:400px;

}

/* PROFILE */

.profile{

width:150px;
height:150px;

border-radius:50%;

border:4px solid red;

box-shadow:0 0 20px red;

}

/* NAME */

.name{

color:#4ade80;

}

/* BUTTONS */

.btn{

padding:12px 25px;

margin:5px;

border-radius:10px;

text-decoration:none;

color:white;

display:inline-block;

}

.green{background:#22c55e;}
.blue{background:#38bdf8;}
.orange{background:#f59e0b;}


/* ABOUT */

.about{

padding:60px;

background:linear-gradient(135deg,#0f172a,#1e293b);

}

/* DUAL SECTION */

.dual{

display:flex;

gap:30px;

padding:40px;

}

.box{

flex:1;

background:#1e293b;

padding:20px;

border-radius:10px;

}

/* GRID */

.grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:15px;

}

/* CARDS */

.card{

padding:15px;

background:#2563eb;

border-radius:10px;

text-decoration:none;

color:white;

}

/* PROJECT COLORS */

.excel{background:#22c55e;}
.sql{background:#ef4444;}
.powerbi{background:#3b82f6;}
.python{background:#a855f7;}
.ml{background:#f59e0b;}


/* FOOTER */

footer{

text-align:center;

padding:30px;

background:#020617;

}
