body{
margin:0;
font-family:Poppins;
background:#020617;
color:white;
}

/* PARTICLES */

#particles-js{
position:fixed;
width:100%;
height:100%;
z-index:-1;
}


/* HERO */

.hero{

position:fixed;

width:40%;

height:100vh;

background:linear-gradient(180deg,#020617,#030c2a,#020617);

display:flex;

justify-content:center;

align-items:center;

}


.hero-content{

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

text-align:center;

}


.profile{

width:180px;

height:180px;

border-radius:50%;

border:4px solid #38bdf8;

box-shadow:0 0 40px #38bdf8;

object-fit:cover;

margin-bottom:20px;

}


/* NAME */

.name{

color:#38bdf8;

font-style:italic;

font-size:32px;

text-shadow:0 0 30px #38bdf8;

}


/* BUTTONS */

.buttons{

display:flex;

gap:10px;

}


.btn{

padding:12px 25px;

border-radius:25px;

text-decoration:none;

color:white;

font-weight:500;

transition:0.3s;

}


.btn:hover{

transform:scale(1.1);

}


/* BUTTON COLORS */

.green{

background:linear-gradient(45deg,#22c55e,#4ade80);

}


.blue{

background:linear-gradient(45deg,#3b82f6,#60a5fa);

}


.orange{

background:linear-gradient(45deg,#f59e0b,#fbbf24);

}


/* MAIN RIGHT */

.main{

margin-left:40%;

padding:40px;

background:linear-gradient(180deg,#0b1d35,#102a49,#0b1d35);

}


/* SECTION */

.section{

background:linear-gradient(135deg,#132f52,#1a3e68,#132f52);

padding:30px;

margin-bottom:25px;

border-radius:15px;

}


/* SKILLS */

.skills-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

}


/* ICON COLORS */

.excel-icon{color:#22c55e;}

.powerbi-icon{color:#eab308;}

.sql-icon{color:#3b82f6;}

.python-icon{color:#60a5fa;}

.ml-icon{color:#a855f7;}

.analysis-icon{color:#38bdf8;}

.tableau-icon{color:#f97316;}

.github-icon{color:white;}


/* PROJECT CARDS */

.project-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:20px;

}


.card{

padding:30px;

border-radius:15px;

text-decoration:none;

color:white;

font-weight:bold;

text-align:center;

transition:0.3s;

}


.card:hover{

transform:scale(1.1);

}


.excel{

background:linear-gradient(45deg,#16a34a,#4ade80);

}


.powerbi{

background:linear-gradient(45deg,#eab308,#fde047);

}


.sql{

background:linear-gradient(45deg,#2563eb,#60a5fa);

}


.python{

background:linear-gradient(45deg,#0891b2,#22d3ee);

}


.ml{

background:linear-gradient(45deg,#9333ea,#c084fc);

}


/* PUBLICATION BUTTONS */

.pub-buttons{

display:flex;

justify-content:center;

gap:20px;

margin-top:20px;

}


.pub-btn{

padding:12px 30px;

border-radius:25px;

text-decoration:none;

color:white;

font-weight:500;

}


.medium-btn{

background:black;

}


.newsletter-btn{

background:linear-gradient(45deg,#0077b5,#00a0dc);

}


.pub-btn:hover{

transform:scale(1.1);

}


/* FOOTER */

footer{

background:#020617;

text-align:center;

padding:30px;

margin-left:40%;

}
