body{

margin:0;
font-family:Poppins;

background: linear-gradient(-45deg,#f8ede3,#e6b8a2,#8d6e63,#121521);

background-size:400% 400%;

animation:gradientMove 12s ease infinite;

color:white;

}

@keyframes gradientMove{

0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}

}


/* particles */

#particles-js{

position:fixed;
width:100%;
height:100%;
top:0;
left:0;
z-index:-1;

}


/* hero */

.hero-container{

width:50%;
display:flex;
justify-content:center;
align-items:center;

background:url("hero-bg.jpg");

background-size:cover;
background-position:center;

}

.hero-card{

background:rgba(0,0,0,0.5);
padding:40px;
border-radius:20px;

}


.profile{

width:150px;
border-radius:50%;

}


/* box style */

.box{

background:linear-gradient(45deg,#121521,#38476b,#b6192e,#ffc1ac);

padding:40px;

border-radius:20px;

}


/* layout */

.top-section{

display:flex;

}

.bottom-section{

display:flex;

gap:40px;

padding:60px;

}


/* skills */

.skills-grid{

display:grid;

grid-template-columns:repeat(2,240px);

gap:20px;

}

.skill-card{

display:flex;
align-items:center;

gap:15px;

width:240px;
height:70px;

border-radius:15px;

padding:10px;

}


/* skill colors */

.excel{background:linear-gradient(90deg,#16a34a,#4ade80);}
.sql{background:linear-gradient(90deg,#2563eb,#60a5fa);}
.powerbi{background:linear-gradient(90deg,#facc15,#f59e0b);color:black;}
.python{background:linear-gradient(90deg,#0891b2,#22d3ee);}
.analysis{background:linear-gradient(90deg,#9333ea,#c084fc);}
.ml{background:linear-gradient(90deg,#ec4899,#f472b6);}


/* projects */

.project-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:20px;

}

.project{

padding:20px;

border-radius:15px;

text-align:center;

color:white;

text-decoration:none;

}


/* publications */

.pub{

padding:15px 25px;

border-radius:10px;

color:white;

text-decoration:none;

}

.medium{background:black;}
.newsletter{background:blue;}


/* contact */

footer{

text-align:center;

padding:40px;

background:#020617;

}
