body{
margin:0;
font-family:Poppins;
background:linear-gradient(45deg, #7425e3, #1fb1ff, #64fe3e);
color:black;
}

/* TOP SECTION */

.top-section{
display:flex;
}

/* HERO LEFT */

.hero-container{

width:50%;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background-size:cover;

background-position:center;

}
.name{

font-style:italic;

font-size:36px;

background:linear-gradient(45deg, #f8ad00, #e13333, #3992ff);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

text-shadow:

0 0 10px rgba(255,215,0,0.7),

0 0 20px rgba(255,215,0,0.5),

0 0 40px rgba(255,215,0,0.3);

margin-bottom:10px;

}

.hero-card{

background:url("hero-bg.jpg");

backdrop-filter:blur(15px);

padding:45px;

border-radius:20px;

text-align:center;

width:380px;

box-shadow:0 0 30px rgba(0,0,0,0.5);

}

/* ABOUT RIGHT */

.about{

width:50%;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:80px;

background:linear-gradient(0deg, #000000, #3432c7);

}
.about p{
max-width:600px;
line-height:1.7;
}

/* SKILLS */

.skills{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
}

.skill{
background:white;
padding:20px;
border-radius:10px;
text-align:center;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.skill i{
font-size:30px;
display:block;
margin-bottom:10px;
color:#2563eb;
}

.profile{
width:160px;
height:160px;

border-radius:50%;

object-fit:cover;

border:3px solid rgba(255,255,255,0.2);

box-shadow:
0 0 15px rgba(255,0,0,0.6),
0 0 40px rgba(255,0,0,0.4);

margin-bottom:15px;
}


/* PROJECT CARDS */

.projects{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
}

.project-card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
transition:0.3s;
}

.project-card:hover{
transform:translateY(-10px);
}

/* PUBLICATIONS */

.publications{
padding:40px;
}

.pub-grid{
display:flex;
gap:20px;
}

.pub{
padding:20px;
border-radius:10px;
text-decoration:none;
color:white;
}

/* BUTTONS */

.btn,.btn-outline{
margin:10px;
padding:10px 20px;
border-radius:10px;
text-decoration:none;
}

.btn{
background:#3b82f6;
color:white;
}

.btn-outline{
border:1px solid white;
color:white;
}

.medium{background:black;}
.newsletter{background:blue;}
