body{
margin:0;
font-family:Poppins;
background:#0f172a;
color:white;
}

/* TOP SECTION */

.top-section{
display:flex;
}

/* HERO LEFT */

.hero-container{

width:50%;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:url("hero-bg.jpg");

background-size:cover;

background-position:center;

}
.name{

font-style:italic;

font-size:36px;

background:linear-gradient(90deg,#FFD700,#FFC107,#FFEA00);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

text-shadow:

0 0 10px rgba(255,215,0,0.7),

0 0 20px rgba(255,215,0,0.5),

0 0 40px rgba(255,215,0,0.3);

margin-bottom:10px;

}
#particles-js{
position:absolute;
width:100%;
height:100%;
}

.hero-card{

background:rgba(15,23,42,0.45);

backdrop-filter:blur(15px);

padding:45px;

border-radius:20px;

text-align:center;

width:380px;

box-shadow:0 0 30px rgba(0,0,0,0.5);

}

/* ABOUT RIGHT */

.about{

width:50%;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:80px;

background:linear-gradient(135deg,#0f172a,#1e293b);

}
.about p{
max-width:600px;
line-height:1.7;
}

/* SKILLS */

.bottom-section{
display:flex;
padding:40px;
}

.skills{
width:50%;
}

.skills-grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
}

.skill-card{

background:linear-gradient(135deg,#3b82f6,#06b6d4);

padding:20px;

border-radius:10px;

text-align:center;
}
.profile{
width:160px;
height:160px;

border-radius:50%;

object-fit:cover;

border:3px solid rgba(255,255,255,0.2);

box-shadow:
0 0 15px rgba(255,0,0,0.6),
0 0 40px rgba(255,0,0,0.4);

margin-bottom:15px;
}

/* PROJECTS */

.projects{
width:50%;
}

.project-grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
}

.project{
padding:20px;
border-radius:10px;
text-decoration:none;
color:white;
}

.excel{background:#22c55e;}
.sql{background:#ef4444;}
.powerbi{background:#3b82f6;}
.python{background:#a855f7;}
.ml{background:#f59e0b;}

/* PUBLICATIONS */

.publications{
padding:40px;
}

.pub-grid{
display:flex;
gap:20px;
}

.pub{
padding:20px;
border-radius:10px;
text-decoration:none;
color:white;
}

.medium{background:black;}
.newsletter{background:blue;}
