body{

margin:0;
font-family:Poppins;

background: linear-gradient(135deg, #0f172a, #1e293b, #020617);

background-size:400% 400%;

animation:gradientMove 12s ease infinite;

color:white;

}

@keyframes gradientMove{

0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}

}


/* particles */

#particles-js{

position:fixed;
width:100%;
height:100%;
top:0;
left:0;
z-index:-1;

}


/* HERO LEFT */ 
.hero-container{

width:50%;

min-height:80vh;

display:flex;

justify-content:center;

align-items:center;

background-size:cover;

background-position:center;

border-radius:20px;

}
.hero-card{
  background:url("hero-bg.jpg");
  backdrop-filter:blur(20px);
  padding:45px;
  border-radius:20px;
  text-align:center;
  width:380px;
  box-shadow:0 0 40px rgba(0,0,0,0.6); }

/* NAME */ 
.name{
  font-family:'Playfair Display', serif;
  font-size:32px; 
  background: linear-gradient(90deg, #f3b0f2, #fdf5b9);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent; 
  margin-bottom:10px; 
}

.about{

width:50%;

min-height:80vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:60px;

border-radius:20px;

background:linear-gradient(45deg,#121521,#38476b,#b6192e,#ffc1ac);

}

.about p{

max-width:600px;

line-height:1.8;

}

.profile{

width:150px;
border-radius:50%;

}


/* box style */

.box{

background:linear-gradient(45deg,#121521,#38476b,#b6192e,#ffc1ac);

padding:40px;

border-radius:20px;

}


/* layout */

.top-section{

display:flex;

min-height:110vh;

padding:60px;

gap:40px;

align-items:center;

}

.bottom-section{

display:flex;

gap:40px;

padding:60px;

}


/* SKILLS SECTION SMALLER */

.skills-section{
width:40%;
}

.skills-grid{
display:grid;
grid-template-columns:repeat(3,120px);
gap:20px;
}

/* skill card vertical layout */

.skill-card{

display:flex;
flex-direction:column;

align-items:center;
justify-content:center;

width:120px;
height:120px;

border-radius:15px;

padding:10px;

font-weight:500;

transition:0.3s;

}

/* icon bigger */

.skill-card img{

width:48px;
height:48px;

margin-bottom:8px;

}

/* text smaller */

.skill-card span{

font-size:14px;

}

/* projects */

/* PROJECTS BIGGER */

.projects{
width:60%;
}

.project-grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:30px;
}

.project{

padding:40px;

font-size:20px;

border-radius:18px;

text-align:center;

font-weight:600;

transition:0.3s;

}

.project:hover{

transform:scale(1.05);

}


/* publications */

.pub{

padding:15px 25px;

border-radius:10px;

color:white;

text-decoration:none;

}

.medium{background:black;}
.newsletter{background:blue;}


/* contact */

footer{

text-align:center;

padding:40px;

background:#020617;

}
