body{
margin:0;
font-family:Poppins;
background: linear-gradient(135deg, #f8ede3, #e6b8a2, #8d6e63);
}

/* TOP */

.top-section{
display:flex;
}

.hero-container{
width:50%;
display:flex;
justify-content:center;
align-items:center;
}

.hero-card{
padding:40px;
border-radius:20px;
background:#111;
color:white;
}

.profile{
width:150px;
border-radius:50%;
}

.about{
width:50%;
padding:80px;
border-radius:20px;
background: linear-gradient(45deg,#121521,#38476b,#b6192e,#ffc1ac);
color:white;
}


/* BOX STYLE */

.box{
background: linear-gradient(45deg,#121521,#38476b,#b6192e,#ffc1ac);
padding:40px;
border-radius:20px;
color:white;
}


/* BOTTOM */

.bottom-section{
display:flex;
gap:40px;
padding:60px;
}


/* SKILLS */

.skills-section{
width:50%;
}

.skills-grid{
display:grid;
grid-template-columns:repeat(2,280px);
gap:20px;
}

.skill-card{
display:flex;
align-items:center;
gap:15px;
width:280px;
height:70px;
padding:10px;
border-radius:15px;
color:white;
}

.icon-box{
background:white;
padding:5px;
border-radius:10px;
}

.icon-box img{
width:30px;
}

/* COLORS */

.excel{background:linear-gradient(90deg,#16a34a,#4ade80);}
.sql{background:linear-gradient(90deg,#2563eb,#60a5fa);}
.powerbi{background:linear-gradient(90deg,#facc15,#f59e0b);color:black;}
.python{background:linear-gradient(90deg,#0891b2,#22d3ee);}
.analysis{background:linear-gradient(90deg,#9333ea,#c084fc);}
.ml{background:linear-gradient(90deg,#ec4899,#f472b6);}


/* PROJECTS */

.projects{
width:50%;
}

.project-grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
}

.project{
padding:20px;
border-radius:15px;
text-decoration:none;
color:white;
}

.project.excel{background:green;}
.project.sql{background:blue;}
.project.powerbi{background:orange;}
.project.python{background:teal;}
.project.ml{background:purple;}


/* PUBLICATIONS */

.publications{
margin:60px;
text-align:center;
}

.pub{
padding:15px 25px;
border-radius:10px;
color:white;
text-decoration:none;
}

.medium{background:black;}
.newsletter{background:blue;}


/* CONTACT */

footer{
text-align:center;
padding:40px;
background:#020617;
color:white;
}

footer a{
color:#38bdf8;
text-decoration:none;
}
