body{

margin:0;
font-family:Poppins;

background: linear-gradient(135deg, #0f172a, #1e293b, #020617);

background-size:400% 400%;

animation:gradientMove 12s ease infinite;

color:white;

}

@keyframes gradientMove{

0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}

}


/* particles */

#particles-js{

position:fixed;
width:100%;
height:100%;
top:0;
left:0;
z-index:-1;

}


/* HERO LEFT */ 
.hero-container{ 
  width:50%; 
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative; 
} 
.hero-card{
  background:url("hero-bg.jpg");
  backdrop-filter:blur(20px);
  padding:45px;
  border-radius:20px;
  text-align:center;
  width:380px;
  box-shadow:0 0 40px rgba(0,0,0,0.6); }

/* NAME */ 
.name{
  font-family:'Playfair Display', serif;
  font-size:32px; 
  background: linear-gradient(90deg, #f3b0f2, #fdf5b9);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent; 
  margin-bottom:10px; 
}

.profile{

width:150px;
border-radius:50%;

}


/* box style */

.box{

background:linear-gradient(45deg,#121521,#38476b,#b6192e,#ffc1ac);

padding:40px;

border-radius:20px;

}


/* layout */

.top-section{

display:flex;

}

.bottom-section{

display:flex;

gap:40px;

padding:60px;

}


/* SKILLS */ 
.skills-grid{
  display:grid;
  grid-template-columns:repeat(2, 280px);
  gap:20px;
} 
.skill-card{
  display:flex;
  align-items:center;
  gap:15px;
  width:280px;
  height:75px;
  padding:0 20px;
  border-radius:15px;
  font-size:18px;
  font-weight:600;
  color:white;
  box-shadow:0 6px 15px rgba(0,0,0,0.25);
  transition:0.3s; 
} 
.skill-card:hover{ 
  transform:translateY(-4px);
} 
.icon-box{
  background:white;
  width:45px;
  height:45px;
  border-radius:10px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.icon-box img{
  width:28px;
  height:28px;
}
/* COLORS */
.excel{
  background:linear-gradient(90deg,#16a34a,#4ade80);
} 
.sql{ 
  background:linear-gradient(90deg,#2563eb,#60a5fa);
} 
.powerbi{
  background:linear-gradient(90deg,#facc15,#f59e0b); color:black;
} 
.python{
  background:linear-gradient(90deg,#0891b2,#22d3ee); 
} 
.analysis{ 
  background:linear-gradient(90deg,#9333ea,#c084fc);
}
.ml{
  background:linear-gradient(90deg,#ec4899,#f472b6);
}

/* projects */

.project-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:20px;

}

.project{

padding:20px;

border-radius:15px;

text-align:center;

color:white;

text-decoration:none;

}


/* publications */

.pub{

padding:15px 25px;

border-radius:10px;

color:white;

text-decoration:none;

}

.medium{background:black;}
.newsletter{background:blue;}


/* contact */

footer{

text-align:center;

padding:40px;

background:#020617;

}
